import * as React from 'react';
import { ThemeProvider } from 'react-bootstrap';
import { {{{cap}}}{{{optionPas}}}Props } from './{{{optionPas}}}.types';
import * as styleMod from './styles.module.scss';
import { createLocalProps } from '@owlui/utils';

export const Component = (props: {{{cap}}}{{{optionPas}}}Props) => {
  const baseClass = '{{{name}}}';
  const { children } = props;
  const prefix = props.prefix || '';

  const locals = createLocalProps(
    props,
    {
      module: styleMod,
      classes: {
        base: baseClass,
        prefix: prefix,
        optionals: [
          {
            fields: ['theme'],
            value: 'theme',
          },
          {
            fields: ['size'],
            value: 'Size',
          },
        ],
      },
    },
    ['prefix', 'theme', 'size']
  );

  return (
    <ThemeProvider>
      <div {...locals}>{children}</div>
    </ThemeProvider>
  );
};

export default {
  Component,
};
