import * as React from 'react'
import { {{{cap}}}{{{optionCap}}}Props } from './{{{optionCap}}}.types'
import * as styleMod from './styleMod.module.scss'

const baseClass = 'owlui{{{cap}}}{{{optionCap}}}'

export const Component = (props: {{{cap}}}{{{optionCap}}}Props) => {
  const { children, className, style } = props

  let modulePrefix = props.prefix
  let theme = props.theme || 'Default'
  let appearance = props.appearance || 'Primary'
  let size = props.size || 'Md'

  let styleLocal = {
    base: styleMod[baseClass],
    theme: styleMod[`${baseClass}Theme${theme}`],
    appearance: styleMod[`${baseClass}Theme${theme}${appearance}`],
    size: styleMod[`${baseClass}Size${size}`]
  }

  if (modulePrefix !== undefined && modulePrefix !== null) {
    styleLocal.base = `${modulePrefix}-${styleLocal.base}`
    styleLocal.theme = `${modulePrefix}-${styleLocal.theme}`
    styleLocal.appearance = `${modulePrefix}-${styleLocal.appearance}`
    styleLocal.size = `${modulePrefix}-${styleLocal.size}`
  }

  return <div
    style={style}
    className={[
      className,
      styleLocal.base,
      styleLocal.theme,
      styleLocal.appearance,
      styleLocal.size
    ].join(' ')}
  >{children}</div>
}

export default {
    Component
};