import * as React from 'react'
import { {{{optionCap}}}{{{cap}}}Props } from './{{{optionCap}}}.types'
import * as styles from './styles.module.scss'

const baseClass = 'owlui{{{cap}}}{{{optionCap}}}'

export const Component = (props: {{{optionCap}}}{{{cap}}}Props) => {
    const { children } = props

    let modulePrefix = props.prefix
    let theme = props.theme
    let appearance = props.appearance
    let size = props.size

    if (modulePrefix === undefined) {
        modulePrefix = ''
    }

    if (theme === undefined) {
        theme = 'Default'
    }

    if (appearance === undefined) {
        appearance = 'Primary'
    }

    if (size === undefined) {
        size = 'Medium'
    }

    return <div
        className={[
            modulePrefix + styles[baseClass],
            modulePrefix + styles[`${baseClass}${theme}`],
            modulePrefix + styles[`${baseClass}${theme}${appearance}`],
            modulePrefix + styles[`${baseClass}${size}`]
        ].join(' ')}
    >{children}</div>
}

export default {
    Component
};